<div class="container top">
  <div class="page-header">
    <h2>Recent Lists</h2>
  </div>
</div>
<div class="container small-top">
  <div class="row">
    <div class="col-9">
      <%= render :partial => "list", :collection => @lists %>

      <%= will_paginate @lists, :class => "center-block" %>
    </div>
    <div class="col">
      <div class="login-block">
      <% if current_user %>
        <p class="name"><%= current_user.name %> &middot; <%= link_to "Sign out", signout_path %></p>
      <% else %>
        <p class="name"><%= image_tag "orcid_24x24.png" %> <%= link_to "Sign in with ORCID", "/auth/orcid" %></p>
      <% end %>

      <p>This is MAST Lists. A really simple service for managing Lists of astronomical objects.</p>

      <p>Sign in with your ORCID account to get Listing.</p>
      </div>
    </div>
  </div>
</div>
